body {
    background: #ffffff;
    text-align:center;
   
			height: 100%;
			width:100%;
}
h3 img {   
    margin-top:.5%;
    float:left;
    padding-left:9.6%;
    padding-right:50px;
    border-right: 1px dotted;
}
h2 img{
    
    
    margin-right: 10%;
    margin-top: 5%;
    width: 400px;
   
   
}

.fire {
   font: 30pt copperplate gothic bold; 
  padding-right:120px;
}
 
.fire span {
    font:16pt bold; 
    color:blue;
    font-style: italic;
}

.Qthree span {
    color: blue;
}

.Qthree {
 
   
    border: 3px solid #73AD21;
    left:10%;
     margin-top: 10%;
    margin-left: 10%;
    
}
.Qtwo{
     border: 3px solid steelblue;
    margin-right: 9.5%;
    left:30%;
     margin-top: 0%;
    margin-left: 20%;  
    
}

.Qtwo span{
    color: orangered;
}
.Qone  {
     
    border: 3px solid teal;
    margin-right: 9.5%;
    right:200px;
     margin-top: 0%;
    margin-left: 20%;  
    
}

.Qone  span{
    color: purple;
    
}
 .Qone , .Qthree , Qtwo{
     padding-left: 30px;
      padding-right: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
       
 
    width: 300px;
    
    
    font: 12pt copperplate gothic bold;
    text-align: center;
    color:black;
     
 }

ul {
     list-style-type: none;
	 margin-right: 10%;
     margin-left: 9.5%;
     padding-left:0;
    overflow: hidden;
    background-color: #333;	
    font-family: Courier New; 	
    font-size: 16pt;	    
}

li {
 	  float: left;		     
	}

li a {
	   display: block;
        color: navajowhite;
        text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
        margin-right: 45px;
        
       
			    
		}

a:hover:not(.active) {
		background-color: #111;
        color:orangered;
        font-size: 18px;
		}

.active {
		background-color:#4CAF50;
		}

.fire {
	font: 30pt copperplate gothic bold; 
    padding-right:120px;
	}
			 
.fire span {
	 font:16pt bold; 
       color:blue;
       font-style: italic;
     }